@layer pages {
	hero-image img { object-position: 0 75%; }

	main {
		height: fit-content;

		iframe {
			display: block;
			margin-inline: auto;
			border: none;
			width: clamp(12rem, 50vw, 40rem);
			height: 50rem;

			@media (max-width: 25rem) { height: 55rem; }
		}
	}
}
