@layer pages {
	:root {
		--color-dish-vegan: seagreen;
		--color-dish-vegetarian: darkgoldenrod;
	}

	main {
		dl {
			column-gap: 4rem;
			columns: 45ch auto;

			div {
				break-inside: avoid;
				margin-block-start: 1rem;

				&:first-of-type { margin-block-start: 0; }
			}

			dt {
				display: flex;
				align-items: baseline;
				gap: 0.5rem;

				hr {
					flex-grow: 1;
					margin: 0;
					border: none;
					border-block-end: 0.1rem dotted var(--color-secondary);
				}

				small {
					display: block;
					border-radius: 0.2rem;
					padding: 0.1rem;

					&.dish-vegan {
						background: var(--color-dish-vegan);
						color: var(--color-text-secondary);
					}

					&.dish-vegetarian {
						background: var(--color-dish-vegetarian);
						color: var(--color-text-secondary);
					}
				}
			}
		}

		.menu-note {
			margin-block: 2rem;
			font-style: italic;
			text-align: center;
		}

		img {
			box-shadow: 0.1rem 0.1rem 0.5rem color-mix(in srgb, black, transparent);
			border: solid 0.1rem var(--color-primary);
			border-radius: 1rem;
			width: 100%;
			max-width: 25rem;
			height: auto;
			max-height: 25rem;
		}

		figure {
			float: inline-start;
			margin: 0;
			margin-inline-end: 4rem;
			max-width: max(30ch, min(40vw, 50ch));

			@media (max-width: 40rem) {
				float: none;
				margin-inline: auto;
			}
		}

		section:nth-of-type(even) figure {
			float: inline-end;
			margin: 0;
			margin-inline-start: 4rem;

			@media (max-width: 40rem) {
				float: none;
				margin-inline: auto;
			}
		}

		figcaption {
			font-style: italic;
			font-size: smaller;
			text-align: center;
		}

		section { display: flow-root; }
	}
}
