@layer pages {
	main {
		min-height: 50vh;

		hr {
			border: solid 0.05rem var(--color-primary);
			width: 12ch;
		}

		figure {
			margin-inline: auto;
			max-width: 50ch;

			p:first-of-type:first-line { font-weight: bold; }
			blockquote {
				margin: 0;
				color: var(--color-primary);
				font-style: italic;
				text-align: center;
			}

			figcaption {
				font-size: 0.9rem;
				text-align: end;

				&::before { content: '— '; }
			}
		}

		li::marker {
			color: var(--color-primary);
			font-weight: bold;
			font-size: 1rem;
		}

		ul li::marker { content: '◇ '; }

		ol li { list-style: upper-roman; }

		li span:has(input) {
			display: flex;
			align-items: center;
			gap: 0.3rem;
			width: fit-content;
		}

		input {
			width: 0.8rem;
			height: 0.8rem;
		}

		input:checked ~ label {
			text-decoration: line-through;
			text-decoration-style: solid;
			text-decoration-color: color-mix(in srgb, var(--color-primary), transparent);
			text-decoration-thickness: 1ch;
		}
	}
}
