@layer components {
	form {
		--input-margin: 0.5rem;

		div:has(button) {
			display: flex;
			grid-area: buttons;
			justify-content: end;
			gap: 1rem;
			padding-inline: 1rem;

			@media (max-width: 25rem) {
				justify-content: center;
				padding-inline: 0;
			}

			@media print { display: none; }
		}

		div:has(:is(input, select, textarea):required) label::after {
			content: ' (Required)';
			color: var(--color-required);
		}

		div:has(> x-icon) {
			display: flex;
			align-items: center;
			gap: 0.2rem;

			&:has(textarea) { align-items: baseline; }
		}

		div:has(:is(input, textarea, select):user-invalid) {
			color: var(--color-error);
			:is(input, textarea, select) { border-color: var(--color-error); }
			label { color: var(--color-error); }
			.error-message { display: block; }
			.error-mark { display: block; }
		}

		div:has(:is(input, textarea, select):user-valid) {
			color: var(--color-valid);
			:is(input, textarea, select) { border-color: var(--color-valid); }
			label { color: var(--color-valid); }
			.valid-mark { display: block; }
		}

		:is(input:not(:is([type='checkbox'], [type='radio'])), textarea, select) {
			display: block;
			appearance: none;
			margin: var(--input-margin);
			border: solid 0.1rem var(--color-primary);
			border-radius: 0.3rem;
			background-color: var(--color-secondary);
			padding: 0.3rem 0.4rem;
			width: calc(100% - var(--input-margin) * 2);
			resize: none;
			color: var(--color-text-primary);
			font-size: 1rem;

			&:focus {
				outline: none;
				border-color: var(--color-secondary);
				background-color: var(--color-primary);
				color: var(--color-text-secondary);
			}
		}

		select {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%232f4da7' d='M17 9.17a1 1 0 0 0-1.41 0L12 12.71L8.46 9.17a1 1 0 0 0-1.41 0a1 1 0 0 0 0 1.42l4.24 4.24a1 1 0 0 0 1.42 0L17 10.59a1 1 0 0 0 0-1.42'/%3E%3C/svg%3E");
			background-position: center right;
			background-size: 1rem;
			background-repeat: no-repeat;
			padding-right: 1rem;
		}

		input:is([type='checkbox'], [type='radio']):focus {
			outline: solid 0.1rem var(--color-primary);
			outline-offset: 0.1rem;
		}

		option {
			&:focus {
				background-color: var(--color-secondary);
				color: var(--color-text-primary);
			}

			&:hover {
				background-color: var(--color-text-secondary);
				color: var(--color-text-primary);
			}
		}

		textarea { height: 30ch; }

		button {
			margin: 0;
			min-width: 10ch;
		}

		.error-message {
			display: none;
			margin-inline: var(--input-margin);
			color: var(--color-error);

			font-size: smaller;
		}

		:where(.error-mark, .valid-mark) { display: none; }
	}
}
