@layer components {
	hero-image {
		grid-area: hero;
		align-self: stretch;
		justify-self: stretch;
		height: auto;

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}
