@layer components {
	sr-only {
		display: block;
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute;
		top: -1px;
		left: -1px;
		clip-path: inset(50%);
		margin: -1px;
		padding: 0;
		width: 1px;
		height: 1px;
		overflow: hidden;
		word-wrap: normal;
	}
}
