@layer fonts {
	@font-face {
		font-style: normal;
		font-weight: 1 1000;
		line-height: 1.6;
		src: url('/assets/fonts/cormorant-infant.woff2') format('woff2-variations');
		font-family: 'Cormorant Infant';
		font-display: swap;
		font-variant-alternates: styleset('ss01');
		font-variant-ligatures: common-ligatures contextual;
		font-variant-numeric: tabular-nums;
		letter-spacing: 0.3px;
		word-spacing: -0.55px;
	}

	@font-face {
		font-style: italic;
		font-weight: 1 1000;
		line-height: 1.6;
		src: url('/assets/fonts/cormorant-infant-italic.woff2') format('woff2-variations');
		font-family: 'Cormorant Infant';
		font-display: swap;
		font-variant-alternates: styleset('ss01');
		font-variant-ligatures: common-ligatures contextual;
		font-variant-numeric: tabular-nums;
		letter-spacing: 0.3px;
		word-spacing: -0.55px;
	}

	@font-face {
		font-style: normal;
		font-weight: normal;
		line-height: 1.35;
		src: url('/assets/fonts/cookie.woff2') format('woff2');
		font-family: 'Cookie';
		font-display: swap;
		font-synthesis: none;
		letter-spacing: 1.05px;
		word-spacing: 0.8px;
	}
}
