@layer base {
	:root {
		--font-body: 'Cormorant Infant', Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
		--font-headings: 'Cookie', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;

		box-sizing: border-box;
		font-family: var(--font-body);
	}

	*, *::before, *::after {
		box-sizing: inherit;
		font-family: inherit;
	}

	html, body { height: 100%; }
	body {
		margin: 0;
		background: var(--color-bg);
		color: var(--color-text-primary);

		& > hr {
			margin: 0;
			box-shadow: 0 0 1rem 0.5rem color-mix(in srgb, black, transparent 50%);
			border: solid 0.01rem var(--color-secondary);
		}
	}

	:is(h1, h2, h3, h4, h5, h6) {
		color: var(--color-primary);
		font-family: var(--font-headings);
	}
	h1 { font-size: 5rem; }
	h2 { font-size: 2.44rem; }
	h3 { font-size: 1.95rem; }
	h4 { font-size: 1.56rem; }
	h5 { font-size: 1.25rem; }
	h6 { font-size: 1rem; }
	small { font-size: 0.64rem; }

	button {
		display: flex;
		align-items: center;
		justify-items: center;
		margin: 1rem;
		border: solid 0.1rem currentColor;
		border-radius: 100vmax;
		background-color: var(--color-primary);
		padding: 0.5rem;
		color: var(--color-secondary);

		&:focus {
			outline: solid 0.1rem var(--color-secondary);
			background-color: var(--color-secondary);
			color: var(--color-text-primary);
		}

		&:hover {
			background-color: var(--color-text-secondary);
			color: var(--color-text-primary);
		}

		&:active {
			outline-color: var(--color-primary);
			background-color: var(--color-text-secondary);
			color: var(--color-primary);
		}
	}

	a {
		color: var(--color-link);
		text-decoration-thickness: 0.05em;
		text-underline-offset: 0.15em;

		&:visited { color: var(--color-link-visited); }

		&:focus {
			outline: solid 0.1rem var(--color-link-focus);
			outline-offset: 0.1rem;
			border-radius: 0.2rem;
			background-color: var(--color-text-primary);
			color: var(--color-link-focus);
		}

		&:hover { color: var(--color-link-hover); }
		&:active { color: var(--color-link-active); }
	}
}
