@layer components {
	hero-controls {
		display: flex;
		grid-area: hero;
		justify-content: space-between;
		align-items: end;
		align-self: end;
		justify-self: stretch;
		gap: 1rem;
		z-index: 1;

		#video-play-pause-button span:not([hidden]) { display: flex; }

		#video-description {
			border: solid 0.15rem var(--color-primary);
			border-radius: 0.5rem;
			background-color: var(--color-bg);
			padding: 1rem;
			max-width: 70vmin;
			max-height: 70vmin;
			overflow: auto;
			overscroll-behavior: contain;

			&::backdrop {
				backdrop-filter: blur(0.5rem);
				background-color: color-mix(in srgb, black, transparent);
			}

			header {
				display: flex;
				align-items: center;
				gap: 1rem;
			}

			button { margin: 0; }

			h2 {
				flex-grow: 1;
				margin: 0;
				color: var(--color-primary);
				text-align: center;
			}

			@media (max-width: 30rem) {
				max-width: calc(100dvw - 1rem);
				max-height: calc(100dvh - 1rem);
			}
		}

		@media print { display: none; }
	}
}
